In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('train.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
cols = ['Name','Ticket','Cabin']
df = df.drop(cols,axis = 1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [17]:
df = df.dropna()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [19]:
dummies = []
cols = ['Pclass','Sex','Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))

In [22]:
titanic_dummies = pd.concat(dummies, axis=1)

In [23]:
df = pd.concat((df,titanic_dummies), axis = 1)

In [24]:
df = df.drop(['Pclass','Sex','Embarked'],axis = 1)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    uint8
 7   2            712 non-null    uint8
 8   3            712 non-null    uint8
 9   female       712 non-null    uint8
 10  male         712 non-null    uint8
 11  C            712 non-null    uint8
 12  Q            712 non-null    uint8
 13  S            712 non-null    uint8
dtypes: float64(2), int64(4), uint8(8)
memory usage: 44.5 KB

In [26]:
df['Age'] = df['Age'].interpolate()

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    uint8
 7   2            712 non-null    uint8
 8   3            712 non-null    uint8
 9   female       712 non-null    uint8
 10  male         712 non-null    uint8
 11  C            712 non-null    uint8
 12  Q            712 non-null    uint8
 13  S            712 non-null    uint8
dtypes: float64(2), int64(4), uint8(8)
memory usage: 44.5 KB

In [28]:
print(df)

     PassengerId  Survived   Age  SibSp  Parch     Fare  1  2  3  female  \
0              1         0  22.0      1      0   7.2500  0  0  1       0
1              2         1  38.0      1      0  71.2833  1  0  0       1
2              3         1  26.0      0      0   7.9250  0  0  1       1
3              4         1  35.0      1      0  53.1000  1  0  0       1
4              5         0  35.0      0      0   8.0500  0  0  1       0
..           ...       ...   ...    ...    ...      ... .. .. ..     ...
885          886         0  39.0      0      5  29.1250  0  0  1       1
886          887         0  27.0      0      0  13.0000  0  1  0       0
887          888         1  19.0      0      0  30.0000  1  0  0       1
889          890         1  26.0      0      0  30.0000  1  0  0       0
890          891         0  32.0      0      0   7.7500  0  0  1       0

     male  C  Q  S
0       1  0  0  1
1       0  1  0  0
2       0  0  0  1
3       0  0  0  1
4       1  0  0  1
..    ... .. .. ..
885     0  0  1  0
886     1  0  0  1
887     0  0  0  1
889     1  1  0  0
890     1  0  1  0

[712 rows x 14 columns]

In [33]:
X = df.values
y = df['Survived'].values

In [34]:
X = np.delete(X,1,axis = 1)

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)